.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.item div {
  margin: 0 6px;
}

.item_name {
  width: 80px;
}

.item_address {
  max-width: 140px;
  overflow-wrap: break-word;
}

.item_price,
.item__quantity,
.item_amount {
  width: 30px;
}
