<div class="cart">
  <p><b>Your shopping cart</b></p>

  <div class="item_header">
    <div class="item_name">Item</div>
    <div>Price</div>
    <div>Qty</div>
    <div>Total</div>
  </div>

  <div *ngFor="let cartItem of cart.cartItems">
    <app-cart-item [cartItem]="cartItem"></app-cart-item>
  </div>
  <label for="addressCheckbox">Delivery required</label>
  <input id="addressCheckbox" type="checkbox" (change)="addDelivery()" *ngIf="cart.cartItems.length > 0"
         [(ngModel)]="deliveryNeeded">
  <div class="delivery_controls">

    <label for="addressInput" *ngIf="deliveryNeeded">Address</label>
    <input id="addressInput" (ngModelChange)="updateAddress()" [(ngModel)]="address" *ngIf="deliveryNeeded">
  </div>
  <div class="cart_footer">
    <p>Total: <span>{{cart.totalPrice}}</span></p>
    <button (click)="placeOrder()">Place Order</button>
  </div>
</div>
<div *ngIf="showReceipt">
  <div *ngIf="deliveryNeeded">
    Order Placed, please await delivery at {{cart.getDeliveryItem().address}} {{cart.getDeliveryItem().deliveryDate}}
  </div>
  <div *ngIf="!deliveryNeeded">
    Order Placed, thanks
  </div>

</div>
