.cart {
  position: relative;
  width: 100%;
  min-height: 400px;
  border: 2px solid darkgreen;
  border-radius: 4px;
  padding: 4px 4px 80px;
}

.item_header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.cart_footer {
  position: absolute;
  bottom: 0;
  padding: 14px 10px;
}
